@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Playfair+Display&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
  background-color: #393d3f;
  color: #ffe2d1;
}
h1,
h2,
h3 {
  font-family: 'Pathway Gothic One', sans-serif;
}
header {
  background-color: #d1495b;
  color: #ffe2d1;
}
h1 {
  font-size: 8rem;
  margin: 0 2%;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 4rem;
}
nav {
  display: flex;
  margin: 0% 3%;
}
nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #ffe2d1;
  color: black;
  border: 1px solid black;
  margin: 1% 0;
  padding: 1%;
}
.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #ffe2d1;
  color: black;
  border: 1px solid black;
  margin-bottom: 2%;
  padding: 1%;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info-img {
  width: 50%;
  margin-top: 2%;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
}

.info-text .button {
  width: 25%;
}
.project-pictures {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2% 0;
}
.project-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.project-img img {
  width: 90%;
}
footer {
  background-color: #98c1d9;
  padding: 1%;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.socials {
  width: 5%;
}

/* Media queries at 800px. */

@media (max-width: 800px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
  .info-img {
    width: 80%;
  }
  .info-text {
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .info-text .button {
    width: 25%;
  }
}

/* Media quries at 500px. */

@media (max-width: 500px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    flex-direction: column;
    width: 25%;
    text-align: center;
    margin-bottom: 2%;
  }
  nav a {
    margin: 0;
  }
  .info-text .button {
    width: 50%;
  }
  .project-img {
    width: 45%;
  }
  .socials {
    width: 10%;
  }
}
